a.nav-link {
    display: inline-block;
    color: rgb(255, 255, 255, 0.75);
}

a.nav-link:hover {
    color: white;
}

a.nav-link.active {
    color: white;
}

.space-top {
    margin-top: 2em;
}

.navbar span {
    color: #bbbbbb;
}

.card-blockquote>img {
    width: 100%;
}

.card {
    margin-bottom: 1em;
}

.selected {
	background: #666666;
}

/* added */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
}

.modal-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.modal-close-btn {
    font-weight: bold;
    border: none;
    background-color: unset;
}

.modal-close-btn:hover {
    cursor: pointer;
}